<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<mappers>
 		<mapper resource="/mybatis/member.xml"></mapper>
 		<mapper resource="/mybatis/faq.xml"></mapper>
 		<mapper resource="/mybatis/menu/adminmenu.xml"></mapper>
 		<mapper resource="/mybatis/menu/deliverymenu.xml"></mapper>
 		<mapper resource="/mybatis/hadmin.xml"></mapper>
 	</mappers>
 </configuration>